<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Valil.Chess.WinFX.VisualElements.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Valil.Chess.WinFX.VisualElements.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Valil.Chess.WinFX.VisualElements.Properties.Settings>
            <setting name="RotatedBoard2D" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ViewableGroupRotation3D" serializeAs="String">
                <value>Identity</value>
            </setting>
            <setting name="CameraLocation3D" serializeAs="String">
                <value>0,0,50</value>
            </setting>
            <setting name="CameraUpDirection3D" serializeAs="String">
                <value>0,1,0</value>
            </setting>
            <setting name="CameraLookDirection3D" serializeAs="String">
                <value>0,0,-50</value>
            </setting>
            <setting name="CameraMatrix3D" serializeAs="String">
                <value>Identity</value>
            </setting>
        </Valil.Chess.WinFX.VisualElements.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Valil.Chess.WinFX.VisualElements.Properties.Settings>
            <setting name="AnimationStartDelay" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="AnimationDurationBaseFactor" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="AnimationDurationScaleFactor" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Navigation3DAngleAccelerationFactor" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Navigation3DStepAngle" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Navigation3DStepDistance" serializeAs="String">
                <value>0.5</value>
            </setting>
        </Valil.Chess.WinFX.VisualElements.Properties.Settings>
    </applicationSettings>
</configuration>